h1{
    text-decoration-color: hotpink;
    text-align: center;
}
.container {
    display: flex;
     flex-direction: row;
     justify-content: center;
     align-items: center;
 
}

body{
    background-color: hotpink;
}

 